[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "~=2.25.1"
environs = "~=9.5.0"
requests = "*"
pytube = "~=12.1.3"

[dev-packages]

[requires]
python_version = "3.11"
